<div class="container">
    <h4>重新設定密碼</h4>
    <form name="form">
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <input id="form-password" type="password" class="validate"
                       ng-model="passwordForm.password" required>
                <label for="form-password">密碼</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <input id="form-confirmPassword" type="password" class="validate"
                       ng-model="passwordForm.confirmPassword" required
                       compare-password="passwordForm.password">
                <label for="form-confirmPassword">再次輸入密碼</label>
            </div>
        </div>
        <div class="row">

            <button ng-click="form.$invalid || submitResetPassword()"
                    class="btn waves-effect waves-light"
                    ng-disabled="form.$invalid">
                送出
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>