<div class="parallax-container">
    <div class="section">
        <div class="container center-align">
            <br>
            <br>
            <h1 class="grey-text text-darken-3 center">OOP 物件導向實習課程</h1>
            <form name="form">
                <div class="row">
                    <div class="input-field col offset-s2 s8">
                        <input id="id" type="text" class="validate" ng-model="form.id" required>
                        <label for="id">學號</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col offset-s2 s8">
                        <input id="password" type="password" class="validate" ng-model="form.password" required>
                        <label for="password">密碼</label>
                    </div>
                </div>
                <button ng-click="form.$invalid || login()" class="btn waves-effect waves-light" type="submit" name="action" ng-disabled="form.$invalid">
                    Login
                    <i class="material-icons right">send</i>
                </button>
            </form>
            <!--<a class="waves-effect waves-light btn-large center-align">Login</a>-->
            <br>
            <br>
        </div>
    </div>
    <div class="parallax"><img src="/images/ntut.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <div class="col s12">
            <h2 class="header">課程網站</h2>
            <h5>
                <a class="grey-text text-darken-3 lighten-3" href="http://www.cc.ntut.edu.tw/~wkchen/game/">Link</a>
            </h5>
        </div>

    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="/images/ntut.jpg"></div>
</div>
