<div ng-if="isLogin">
    <nav class="teal lighten-2">
        <div class="nav-wrapper">
            <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="hide-on-med-and-down">
                <li class="clickable" ng-click="changeState('index')"><a>首頁</a></li>
                <li class="clickable" ng-if="project && group" ng-click="changeState('project')"><a>專案進度</a></li>
                <li class="clickable" ng-click="changeState('editGroup')"><a>編輯團隊</a></li>
                <li class="clickable" ng-if="hasGroup()" ng-click="changeState('editProject')"><a>編輯專案</a></li>
                <li class="clickable" ng-click="changeState('group')"><a>班級所有團隊</a></li>
                <li class="clickable" ng-click="changeState('setting')"><a>設定</a></li>

            </ul>
            <ul class="side-nav" id="mobile-nav">
                <li class="clickable" ng-click="changeState('index')"><a>首頁</a></li>
                <li class="clickable" ng-if="project && group" ng-click="changeState('project')"><a>專案進度</a></li>
                <li class="clickable" ng-click="changeState('editGroup')"><a>編輯團隊</a></li>
                <li class="clickable" ng-if="hasGroup()" ng-click="changeState('editProject')"><a>編輯專案</a></li>
                <li class="clickable" ng-click="changeState('group')"><a>班級所有團隊</a></li>
                <li class="clickable" ng-click="changeState('setting')"><a>設定</a></li>
            </ul>
        </div>
    </nav>
    <div ng-if="loading" class="loading-wrapper">
        <div class="preloader-wrapper big active loading">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>


    <div ng-if="!loading" class=" pad-top" ng-switch="state">

        <div ng-switch-when="index">
            <div class="row">
                <div class="col s9">
                    <div class="row">
                        <div id="commitChart" class="wrap-margin" style="width:100%; height:400px;"></div>
                    </div>
                    <div class="row">
                        <div id="locChart" class="wrap-margin" style="width:100%; height:400px;"></div>
                    </div>
                </div>
                <div class="col s3">
                    <div class="ticker-wrapper blue lighten-2">
                        <h5>Latest Activity</h5>
                        <ul id="ticker">
                        </ul>
                    </div>
                </div>
            </div>
                <!--<div class="col s6">-->
                <!--<div id="timelogChart" class="wrap-margin" style="width:100%; height:400px;"></div>-->
                <!--</div>-->

        </div>
        <div ng-switch-when="project" class="container">
            <div ng-if="project">
                <h3>{{project.name}}</h3>
                <table class="striped">
                    <thead>
                    <tr>
                        <th data-field="weekNo">週次</th>
                        <th data-field="date">日期</th>
                        <th data-field="costTime">團隊花費時間</th>
                        <th data-field="todoList">進度規劃</th>
                        <th data-field="lineOfCode">行數</th>
                        <th data-field="image">圖片</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat-start="timelog in timelogs">
                        <td rowspan="2">{{timelog.week_no}}</td>
                        <td rowspan="2">{{timelog.date}}</td>
                        <td ng-if="timelog.editting">
                            <div ng-if="timelog.time_costs[0].editting" class="input-field">
                                <input id="cost0" type="text" class="validate" ng-model="timelog.time_costs[0].cost"
                                       required>
                                <label class='active' for="cost0">耗費小時</label>
                            </div>
                            <div ng-if="timelog.time_costs[1].editting" class="input-field">
                                <input id="cost1" type="text" class="validate" ng-model="timelog.time_costs[1].cost"
                                       required>
                                <label class='active' for="cost1">耗費小時</label>
                            </div>
                        </td>
                        <td ng-if="timelog.time_costs[0] && !timelog.editting">
                            {{timelog.time_costs[0].student.name}}:{{timelog.time_costs[0].cost}}小時
                        </td>
                        <td ng-if="!timelog.time_costs[0] && !timelog.editting" class="red-text text-darken-1">
                            未填寫
                        </td>

                        <td ng-if="!timelog.editting" rowspan="2">{{timelog.todo}}</td>
                        <td ng-if="timelog.editting" rowspan="2">
                            <div class="input-field">
                                <input id="todo" type="text" class="validate" ng-model="timelog.todo" required>
                                <label class='active' for="todo">工作規劃</label>
                            </div>
                        </td>
                        <td rowspan="2">{{timelog.loc}}</td>
                        <td rowspan="2">
                            <img class="responsive-img" src="/images/test.jpg">
                        </td>
                        <td rowspan="2">
                            <div ng-if="!timelog.editting">
                                <a class="waves-effect waves-light btn" ng-click="editTimelog(timelog)">編輯</a>
                            </div>
                            <div ng-if="timelog.editting">
                                <div>
                                    <a class="waves-effect waves-light btn" ng-click="edittingTimelog(timelog)">修改</a>
                                </div>
                                <div class="margin-top-1x">
                                    <a class="waves-effect waves-light btn" ng-click="cancelEditTimelog(timelog)">取消</a>
                                </div>
                            </div>
                        </td>

                    </tr>
                    <tr ng-repeat-end>
                        <td ng-if="timelog.time_costs[1] && !timelog.editting">
                            {{timelog.time_costs[1].student.name}}:{{timelog.time_costs[1].cost}}小時
                        </td>
                        <td ng-if="!timelog.time_costs[1] && !timelog.editting" class="red-text text-darken-1">
                            未填寫
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ng-switch-when="group" class="container">
            <table class="striped">
                <thead>
                <tr>
                    <th data-field="id">組別</th>
                    <th data-field="name">學號</th>
                    <th data-field="name">學生</th>
                    <th data-field="name">專案名稱</th>
                    <th data-field="middleGrade">Demo1成績</th>
                    <th data-field="finalGrade">Demo2成績</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="group in groups" ng-class="{red: !group.projectName, 'lighten-3': !group.projectName}">
                    <td>{{group.id}}</td>
                    <td>{{group.students | studentsId}}</td>
                    <td>{{group.students | studentsName}}</td>
                    <td>{{group.projectName}}</td>
                    <td>{{group.project.average_point[0]}}</td>
                    <td>{{group.project.average_point[1]}}</td>
                </tr>
                </tbody>
            </table>
            <div class="section">
                <h5>尚未分組的學生</h5>
                <table class="striped">
                    <thead>
                    <tr>
                        <th data-field="name">學號</th>
                        <th data-field="name">學生</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="student in studentsWithoutGroup">
                        <td>{{student.id}}</td>
                        <td>{{student.name}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ng-switch-when="editGroup" class="container">
            <div ng-if="!hasGroup()">
                <h3>你目前不屬於任何團隊</h3>
                <form name="groupCreateForm">
                    <div class="row">
                        <div class="col s8">
                            <input name="onlyMe" ng-model="groupForm.onlyMe" type="checkbox" class="filled-in"
                                   id="filled-in-box" checked="checked">
                            <label for="filled-in-box">自己一個人一組</label>
                        </div>
                        <div class="input-field col s8">
                            <input ng-disabled="groupForm.onlyMe"
                                   id="group-id"
                                   name="studentId"
                                   type="text"
                                   class="validate"
                                   ng-model="groupForm.studentId"
                                   ng-pattern="'\\d+'"
                                   required>
                            <label for="group-id">對方組員學號</label>
                        </div>
                    </div>
                    <button ng-click="(groupCreateForm.$invalid && !groupForm.onlyMe) || createGroup()"
                            ng-disabled="groupCreateForm.$invalid && !groupForm.onlyMe"
                            class="waves-effect waves-light btn-large center-align">建立團隊
                    </button>
                </form>
            </div>
            <div ng-if="hasGroup()">
                <table class="striped">
                    <thead>
                    <tr>
                        <th data-field="id">組員學號</th>
                        <th data-field="name">組員姓名</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="student in group.members">
                        <td>{{student.id}}</td>
                        <td>{{student.name}}</td>
                    </tr>
                    </tbody>
                </table>
                <div data-target="destroy-model"
                     class="waves-effect waves-light btn modal-trigger">解散團隊
                </div>
                <div id="destroy-model" class="modal">
                    <div class="modal-content">
                        <h4>確定要解散團隊嗎?</h4>
                    </div>
                    <div class="modal-footer">
                        <a ng-click="destroyGroup()"
                           class=" modal-action modal-close waves-effect waves-green btn">是</a>
                    </div>
                </div>

            </div>
        </div>
        <div ng-switch-when="editProject" class="container">

            <div ng-if="!project">
                <h3>你尚未建立專案</h3>
            </div>
            <form name="projectCreateForm">
                <div class="row">
                    <div class="input-field col s8">
                        <input id="project-id" type="text" class="validate" ng-model="projectForm.name" required>
                        <label class='active' for="project-id">專案題目</label>
                    </div>
                    <div class="input-field col s8">
                        <input id="project-ref" type="text" class="validate" ng-model="projectForm.refUrl" required>
                        <label class='active' for="project-ref">參考連結</label>
                    </div>
                    <div class="input-field col s8">
                        <select ng-model="projectForm.type" require>
                            <option value="default" disabled selected>專案平台</option>
                            <option value="Android">Android</option>
                            <option value="Windows">Windows</option>
                            <option value="HTML5">HTML5</option>
                        </select>
                    </div>
                    <div class="input-field col s8">
                            <textarea id="project-textarea" class="materialize-textarea"
                                      ng-model="projectForm.description"></textarea>
                        <label class='active' for="project-textarea">專案簡介</label>
                    </div>
                    <div class="input-field col s8">
                        <input id="git-url" type="text" class="validate" ng-model="project.gitUrl" readonly>
                        <label class='active' for="git-url">Git連結</label>

                    </div>
                </div>
                <div ng-if="!project">
                    <button ng-click="groupCreateForm.$invalid || createProject()"
                            class="waves-effect waves-light btn-large center-align"
                            ng-disabled="projectCreateForm.$invalid">建立專案
                    </button>
                </div>
                <div ng-if="project">
                    <button ng-click="groupCreateForm.$invalid || editProject()"
                            class="waves-effect waves-light btn-large center-align"
                            ng-disabled="projectCreateForm.$invalid">修改專案
                    </button>
                </div>
            </form>

        </div>
        <div ng-switch-when="setting" class="container">
            <div class="section container">
                <ul class="collapsible popout" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">toc</i>更改密碼</div>
                        <div class="collapsible-body container">
                            <form name="passwordFormName">
                                <div class="row">
                                    <div class="input-field col s8 offset-s2">
                                        <input id="passwordForm-password" type="password" class="validate"
                                               ng-model="passwordForm.password" required>
                                        <label for="passwordForm-password">密碼</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s8 offset-s2">
                                        <input id="passwordForm-confirmPassword" type="password" class="validate"
                                               ng-model="passwordForm.confirmPassword" required
                                               compare-password="passwordForm.password">
                                        <label for="passwordForm-confirmPassword">再次輸入密碼</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <button ng-click="passwordFormName.$invalid || resetPassword()"
                                            class="btn waves-effect waves-light"
                                            type="submit"
                                            name="action"
                                            ng-disabled="passwordFormName.$invalid">
                                        確認更改
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="progress" ng-if="requestLoading">
            <div class="indeterminate"></div>
        </div>
    </div>
</div>