<div ng-if="isLogin">
    <nav class="teal lighten-2">
        <div class="nav-wrapper">
            <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="hide-on-med-and-down">
                <li class="clickable" ng-click="changeState('index')"><a>首頁</a></li>
                <li class="clickable" ng-click="changeState('group')"><a>團隊</a></li>
                <li class="clickable" ng-if="project && group" ng-click="changeState('project')"><a>專案進度</a></li>
                <li class="clickable" ng-click="changeState('editGroup')"><a>編輯團隊</a></li>
                <li class="clickable" ng-if="hasGroup()" ng-click="changeState('editProject')"><a>編輯專案</a></li>
            </ul>
            <ul class="side-nav" id="mobile-nav">
                <li class="clickable" ng-click="changeState('index')"><a>首頁</a></li>
                <li class="clickable" ng-click="changeState('group')"><a>團隊</a></li>
                <li class="clickable" ng-if="project && group" ng-click="changeState('project')"><a>專案進度</a></li>
                <li class="clickable" ng-click="changeState('editGroup')"><a>編輯團隊</a></li>
                <li class="clickable" ng-if="hasGroup()" ng-click="changeState('editProject')"><a>編輯專案</a></li>
            </ul>
        </div>
    </nav>
    <div ng-if="loading" class="loading-wrapper">
        <div class="preloader-wrapper big active loading">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>

            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>

            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>

            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>
        </div>
    </div>


    <div ng-if="!loading" class="container pad-top" ng-switch="state">

        <div ng-switch-when="index">
            <div class="row">
                <div class="col s12">
                    <div id="commitChart" class="wrap-margin" style="width:100%; height:400px;"></div>
                </div>
                <div class="col s6">
                    <div id="locChart" class="wrap-margin" style="width:100%; height:400px;"></div>
                </div>
                <div class="col s6">
                    <div id="timelogChart" class="wrap-margin" style="width:100%; height:400px;"></div>
                </div>
            </div>
        </div>
        <div ng-switch-when="project">
            <div ng-if="project">
                <h3>{{project.name}}</h3>
                <table class="striped">
                    <thead>
                    <tr>
                        <th data-field="weekNo">週次</th>
                        <th data-field="date">日期</th>
                        <th data-field="costTime">團隊花費時間</th>
                        <th data-field="todoList">進度規劃</th>
                        <th data-field="lineOfCode">行數</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>2015/11/11</td>
                        <td>12 小時</td>
                        <td>要把這個網站的API接完</td>
                        <td>1002</td>
                        <td><a class="waves-effect waves-light btn">編輯</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>2015/11/18</td>
                        <td>18 小時</td>
                        <td>要把這個網站的API接完</td>
                        <td>103</td>
                        <td><a class="waves-effect waves-light btn">編輯</a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>2015/11/25</td>
                        <td>2 小時</td>
                        <td>YA</td>
                        <td>22</td>
                        <td><a class="waves-effect waves-light btn">編輯</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ng-switch-when="group">
            <table class="striped">
                <thead>
                <tr>
                    <th data-field="id">組別</th>
                    <th data-field="name">專案介紹</th>
                    <th data-field="middleGrade">Demo1分數</th>
                    <th data-field="finalGrade">Demo2分數</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Android Game</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Cybrain</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Cybrain Two</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-switch-when="editGroup">
            <div ng-if="!hasGroup()">
                <h3>你目前沒有任何團隊</h3>
                <form name="groupCreateForm">
                    <div class="row">
                        <div class="input-field col s8">
                            <input id="group-id" type="text" class="validate" ng-model="groupForm.studentId" required>
                            <label for="group-id">對方組員學號</label>
                        </div>
                    </div>
                    <a ng-click="createGroup()"
                       class="waves-effect waves-light btn-large center-align">建立團隊</a>
                </form>
            </div>
            <div ng-if="hasGroup()">
                <table class="striped">
                    <thead>
                    <tr>
                        <th data-field="id">組員學號</th>
                        <th data-field="name">組員姓名</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="student in group.members">
                        <td>{{student.id}}</td>
                        <td>{{student.name}}</td>
                    </tr>
                    </tbody>
                </table>
                <div data-target="destroy-model"
                     class="waves-effect waves-light btn modal-trigger">解散團隊
                </div>
                <div id="destroy-model" class="modal">
                    <div class="modal-content">
                        <h4>確定要解散團隊嗎?</h4>
                    </div>
                    <div class="modal-footer">
                        <a ng-click="destroyGroup()"
                           class=" modal-action modal-close waves-effect waves-green btn">是</a>
                    </div>
                </div>

            </div>
        </div>
        <div ng-switch-when="editProject">

            <div ng-if="!project">
                <h3>你目前沒有任何專案</h3>
            </div>
            <form name="projectCreateForm">
                <div class="row">
                    <div class="input-field col s8">
                        <input id="project-id" type="text" class="validate" ng-model="projectForm.name" required>
                        <label class='active' for="project-id">專題題目</label>
                    </div>
                    <div class="input-field col s8">
                        <input id="project-ref" type="text" class="validate" ng-model="projectForm.refUrl" required>
                        <label class='active' for="project-ref">參考連結</label>
                    </div>
                    <div class="input-field col s8">
                        <select ng-model="projectForm.type">
                            <option value="default" disabled selected>專案平台</option>
                            <option value="Android">Android</option>
                            <option value="Windows">Windows</option>
                            <option value="HTML5">HTML5</option>
                        </select>
                    </div>

                    <div class="input-field col s8">
                            <textarea id="project-textarea" class="materialize-textarea"
                                      ng-model="projectForm.description"></textarea>
                        <label class='active' for="project-textarea">專題簡介</label>
                    </div>
                </div>
                <a ng-if="!project" ng-click="groupCreateForm.$invalid || createProject()"
                   class="waves-effect waves-light btn-large center-align">建立專案</a>
                <a ng-if="project" ng-click="groupCreateForm.$invalid || editProject()"
                   class="waves-effect waves-light btn-large center-align">修改專案</a>
            </form>

            <!--<div ng-if="project">-->
            <!--<div class="row">-->
            <!--<h4>專題題目: {{project.name}}</h4>-->
            <!--</div>-->
            <!--<div class="row">-->
            <!--參考連結: {{project.ref_url}}-->
            <!--</div>-->
            <!--<div class="row">-->
            <!--專案平台: {{project.project_type}}-->
            <!--</div>-->
            <!--<div class="row">-->

            <!--專案簡介:-->
            <!--<br>-->
            <!--<p>{{project.description}}</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--<a ng-click="groupCreateForm.$invalid || createProject()"-->
            <!--class="waves-effect waves-light btn-large center-align">建立專案</a>-->
        </div>
        <div class="progress" ng-if="requestLoading">
            <div class="indeterminate"></div>
        </div>
    </div>
</div>