<h1>你好，你的CourseWeb密碼已經啟動重設機制</h1>

<p>
  你的密碼已經啟動了重新設定的機制，請點擊下列的連結
  <a href="http://localhost:3000/#/forgot_password?token=<%= @token %>">重設密碼</a>
  <div>
    此信件為系統發送，請勿回復，如有任何問題請聯絡助教
  </div>
</p>
