<nav class="light-blue" role="navigation">
    <div class="nav-wrapper">
        <div class="wrappering">
            <a href="#" class="brand-logo">Course Web</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            </ul>
        </div>
    </div>
</nav>
<div class="section  no-pad-bot">
    <div class="container">
        <h5>登入</h5>
        <form>
            <div class="row">
                <div class="input-field col s8">
                    <input id="id" type="text" class="validate">
                    <label for="id">學號</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s8">
                    <input id="password" type="password" class="validate">
                    <label for="password">密碼</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>

        </form>
    </div>
</div>
