// Place all the styles related to the student controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrap-margin {
    margin: 20px;
}

.loading-wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #f5f5f5;
    z-index: 9999;
    margin: 0 auto;
    text-align: center;
}
.loading {
    top: 25%;
}

.ticker-wrapper {
    width: 400px;
    height: 515px;
    overflow: hidden;
    border: 1px solid #DDD;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #DDD;
    color: white;
    text-align: left;
    h5 {
        padding: 0 0 10px 10px;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    ul li {
        color: #212121;
        background-color: #e3f2fd;
        list-style: none;
        height:50px;
        padding:7px;
    }
}

.image-wrapper {
    position:relative;
    overflow:hidden;
    width:150px;
    height:150px;
    background:#f3f3f3;
    border:2px dashed #e8e8e8;
}

#filePhoto{
    position:absolute;
    width:150px;
    height:150px;
    top:-50px;
    left:0;
    z-index:2;
    opacity:0;
    cursor:pointer;
}

.image-wrapper img{
    position:absolute;
    width:150px;
    height:150px;
    top:-1px;
    left:-1px;
    z-index:1;
    border:none;
}

.table-cell-w {
    width: 140px;

}